*{font-family:"ו"}
a{text-decoration:none}
p{line-height:26px;letter-spacing:0.1em;text-indent:1cm;direction:ltr}
table{
text-align:center;
background-color:#ffbbaa;
background-image:url(../images/bg.gif);
background-repeat:no-repeat;
background-position:50%
}